
h1 {font: size 600px;
}
body{background-color: rgb(142, 64, 216);
}
h2{background-color: rgb(142, 64, 216) ;
}
title{font-size: 200px;
}
title{background-color: rgb(126, 76, 173);
}
img{display: left: 500px;
}
h1{text-align: center;
}
h1{background-color: rgba(122, 29, 209, 0.925);
}
